<div class="pure-menu pure-menu-open pure-menu-horizontal">
    <a class="pure-menu-heading" href="">angular-Sub2web</a>
    <ul>
        <li ui-sref-active="pure-menu-selected"><a href ui-sref="root.home">{{ 'home | uppercase' }}</a>
        </li>
        <li ui-sref-active="pure-menu-selected"><a href ui-sref="root.getting-started">{{ 'getting started' }}</a>
        </li>
        <li ui-sref-active="pure-menu-selected"><a href ui-sref="root.moviePopular">{{ 'Movies Popular' }}</a>
        </li>
        <li ui-sref-active="pure-menu-selected"><a href ui-sref="root.artistPopular">{{ 'Artists Popular' }}</a>
        </li>
        <li ui-sref-active="pure-menu-selected"><a href ui-sref="root.seriePopular">{{ 'Series Popular' }}</a>
        </li>
    </ul>
</div>